{,
},
Anti lock = {
    ["Enabled"] = false, --// on or off
    ["Keybind"] = "v", --// keybind antilock
    ["Network desync"] = nil, --// true, false
    ["Underground"] = nil, --// true, false
    ["Sky aa"] = nil, --// true, false
    ["Desync"] = nil, --// true, false
    ["Spin"] = nil, --// spin
    ["Range"] = nil, --// range axis (ass)
    ["Axis"] = nil, --//  axis
    
},
